@media (min-width: 375px) and (max-width: 430px) {
	.IOS {
		margin-bottom: 1rem;
	}
	.page-2 div div p {
		padding-inline: 10%;
	}
	.m-for-page-3 {
		margin-top: 80%;
	}
	.point {
		text-align: center;
	}

	.page-3 div div p {
		padding-inline: 10%;
		padding-top: 2rem;
	}

	.m-for-page-5 {
		margin-block: 145%;
	}

	.sv-logos {
		align-items: flex-end;
	}

	.page-5 div div p {
		padding-inline: 10%;
	}
}

@media (max-width: 430px) {
	footer {
		height: 15rem;
	}
}
